.tableContainer{
    display: grid;
    width: 100%;
    place-items: center;
    margin-top:2em;
}
.tableHeading{
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
    padding: .5em 0;
}
.tableData{
    display: grid;
    width: 100%;
}
.tableTitles{
    display: flex;
    justify-content: center;
    gap:1em;
    border-top: 2px solid black; 
    border-bottom: 2px solid black;
    margin: 1em 0;
}
.tableRow{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.tableRowButton{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
.tableViewButton:hover{
    color: var(--green-color);
}
.tableDeleteButton:hover{
    color: var(--dark-accent-color);
}
