.emergencyBanner{
    display: grid;
    place-content: center;
    width: 100%;
    height: fit-content;
    padding: 1em 0;
    background-color: var(--yellow-color);
}
.emergencyBanner a{
    text-decoration: 3px solid black !important;
}